:root {
    --headerColor: #4056A1;
    --textColor: #D79922;
}

.btn-block {
    width: 100%;
}

header {
    background-color: var(--headerColor);
    border: 2px solid var(--headerColor);
    color: var(--textColor)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.post {
    /* border-radius: 10% 10% 10% 100% / 20% 20% 20% 0%; */
    margin: 0 .5rem .5rem .5rem;
    border: 2px solid #0B0380;
}

.postAuthor,
.postBody {
    margin: .5rem;
}

.postReractions {
    display: flex;
}

.postReraction {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 59px;
    height: 32px;
    border-radius: 1rem;
    background-color: lightgray;
    margin: .1rem;
    cursor: pointer;
}

.clicked {
    background-color: lightskyblue;
}

.addPost {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    bottom: 1rem;
    right: 1rem;
    /* z-index: 10; */
}